<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonICA - Bienvenido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <div class="header-container">
        <header>
            <h1>MonICA</h1>
            <p>Monitoreo de la calidad del aire en tu comuna.</p>
        </header>
        <nav class="nav-bar">
            <span>Bienvenido, {{ user.first_name }} {{ user.last_name }}</span>
            <a href="{% url 'index' %}">Cerrar sesión</a>
            <a href="#quienes-somos">Quiénes Somos</a>
            <a href="#contacto">Contáctanos</a>
        </nav>
    </div>
    <div class="selection-box">
        <label for="comunas">Hola, {{ user.first_name }}. Selecciona una comuna:</label>
        <form action="{% url 'mostrar_niveles' %}" method="GET">
            <select id="comunas" name="comuna_id">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="todas">Ver todas las comunas</option>
                {% for comuna in comunas %}
                    <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">Ver Niveles</button>
        </form>
    </div>

    <!-- Sección "Quiénes somos" -->
    <section id="quienes-somos">
        <h2>Quiénes Somos</h2>
        <p>MonICA es una herramienta innovadora que tiene como objetivo proporcionar información clara y precisa sobre la calidad del aire en diferentes comunas. A través de datos actualizados, buscamos mejorar la calidad de vida de las personas, permitiendo tomar decisiones informadas sobre su salud y bienestar.</p>
    </section>

    <!-- Sección "Contáctanos" -->
    <section id="contacto">
        <h2>Contáctanos</h2>
        <p>Si tienes alguna pregunta o deseas obtener más información sobre MonICA, no dudes en contactarnos:</p>
        <ul>
            <li>Email: contacto@monica.com</li>
            <li>Teléfono: +56 9 1234 5678</li>
        </ul>
    </section>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 MonICA. Todos los derechos reservados.</p>
    </footer>
</body>
</html>