
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicador de Calidad del Aire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilo_semaforo.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <button class="back-button" onclick="goBack()">← Volver</button>
            <h1>Indicador de Calidad del Aire</h1>
            {% if comuna %}
                <h2>Comuna seleccionada: <strong>{{ comuna.nombre_comuna }}</strong></h2>
            {% else %}
                <h2>Mostrando niveles para todas las comunas</h2>
            {% endif %}
            <div class="date-picker-container">
                <label for="datePicker">Selecciona una fecha:</label>
                <input type="date" id="datePicker" name="fecha" max="" onchange="updateDate()" />
            </div>
        </div>
    </header>
    <main>
        <div class="semaforos-container">
            {% for particula, datos in air_quality_data.items %}
            <div class="semaforo">
                <div class="traffic-light">
                    <div class="light red {% if datos.estado == 'rojo' %}active{% endif %}"></div>
                    <div class="light orange {% if datos.estado == 'naranja' %}active{% endif %}"></div>
                    <div class="light yellow {% if datos.estado == 'amarillo' %}active{% endif %}"></div>
                    <div class="light green {% if datos.estado == 'verde' %}active{% endif %}"></div>
                </div>
                <div class="particle-name">{{ particula }}</div>
                <div class="particle-description">
                    <small>{{ datos.descripcion }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const datePicker = document.getElementById("datePicker");
            const today = new Date().toISOString().split("T")[0];
            datePicker.max = today;

            const urlParams = new URLSearchParams(window.location.search);
            const selectedDate = urlParams.get("fecha");
            if (selectedDate) {
                datePicker.value = selectedDate;
            }
        });

        function updateDate() {
            const datePicker = document.getElementById("datePicker");
            const selectedDate = datePicker.value;
            const comunaId = "{{ comuna.id_comuna }}";

            if (comunaId) {
                window.location.href = `${window.location.pathname}?comuna_id=${comunaId}&fecha=${selectedDate}`;
            } else {
                console.error("ID de comuna no disponible");
            }
        }

        function goBack() {
            window.location.href = 'http://127.0.0.1:8000/monica/';
        }
    </script>
</body>
</html>
